# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
_prd&tech-req.md
_branding&copy.md

# project specific directories
/.github
/.vscode

# editor/IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# testing and performance
/coverage
.eslintcache

# build caches
.cache/
.turbo
**/.swc/

# storybook
storybook-static/